<div class="header">
    <h1>Astroids</h1>
    <div>

        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
            @if (range.controls.start.hasError('matStartDateInvalid')) {
              <mat-error>Invalid start date</mat-error>
            }
            @if (range.controls.end.hasError('matEndDateInvalid')) {
              <mat-error>Invalid end date</mat-error>
            }
          </mat-form-field>
    </div>
</div>
<div *ngFor="let neodDaily of neodList();let i = index" class="astroidContainer">
    <h2 class="astroidDayHeader"> {{neodDaily.date}} </h2>
    <div class="astroidDayList">
        <div *ngFor="let neod of neodDaily.data; let n = index"
            class="astroid  mat-drawer-inner-container  mat-elevation-z2">
            <div class="innerAstroid">
                <p class="Name">
                    <strong>{{neod.name}}</strong> <br><br>
                    Approchday: <br>
                    <strong>{{neod.close_approach_data[0].close_approach_date}}</strong> <br>
                    Approchdistance (km): <br>
                    <!-- TODO: Format the number -->
                    <strong>{{neod.close_approach_data[0].miss_distance.kilometers}}</strong>
                </p>
                <!-- TODO: Here we could exend the data shown to the user -->
            </div>
        </div>
    </div>
</div>