<style>
  .content {
    padding: 24px;
    height: 90dvh;
  }

  mat-toolbar {
    position: relative;
    z-index: 5;
  }

  mat-sidenav-container {
    height: calc(100vh - 64px);
  }
</style>
<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-custom-sidenav />
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>